.nav {
	display: flex;
	flex-direction: column;
}

.navLinks {
	display: flex;
	flex-direction: column;
	/* text-align: center; */
}

.testingButton {
	color: red;
	background-color: #edf2f7;
	border: none;
	border-radius: 10px;
	box-shadow: 2px 2px 2px gray, -2px -2px 5px white;
	box-shadow: 2px 2px 2px lightgray, -2px -2px 5px white;

	/* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
	/* box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px; */
}

.testingButton2 {
	color: blue;
	background-color: #edf2f7;
	border: none;
	border-radius: 10px;

	box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.034), -2px -2px 5px white,
		inset 2px 2px 3px gray, inset -3px -5px 5px white;

	box-shadow: lightgray 3px 3px 6px 0px inset,
		rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
